*.iml
.gradle
.gradle-local
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#personal files
.github
.idea
.vscode
.pencil

#build file
/app/build
android-architecture-file-organization.md
API_DOCS.md
app.pen